<div id="<%= dom_id viewing %>">
  <p>
    <strong>User:</strong>
    <%= viewing.user_id %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= viewing.property_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= viewing.date %>
  </p>

</div>
